@charset "utf-8";
html{
    width:100%;
    height:100%;
}

body {
    font-family: "Mplus 1p",sans-serif;
    font-weight: 500;
    margin: auto;
}

header {
    font-family: "Mplus 1p",sans-serif;
    background-color: #92d050; 
    text-align: right;
    padding: 10px;
    margin-bottom: 60px;
    height: 540px;

}

header ul {
    margin: 0;
    list-style-type: none;
    padding-left: 0;

}

header li {
    font-size: 20px;
    display: inline-block;
    padding: 4px 8px;
}

header li > a  {
    text-decoration: none;
    color: inherit;
}

header li > a:hover {
    color: blue;
}

header h1 {
    font-family: inherit;
    color: white;
    font-size: 75px;
    text-align: center;
    line-height: 400px;
    letter-spacing: 10px;
}