@charset "utf-8";
html{
    width:100%;
    height:100%;
    margin: 0;
}

body {
    font-family: "Mplus 1p",sans-serif;
    font-weight: 500;
    margin: auto;
}

body h1 {
    
    text-align: center;
}

header {
    font-family: inherit;
    background-color: #92d050; 
    text-align: right;
    padding: 10px;
    margin-bottom: 60px;
    height: 450px;
    position: relative;
}

header ul {
    margin: 0;
    list-style-type: none;
    padding-left: 0;
}

header li {
    font-size: 20px;
    display: inline-block;
    padding: 4px 8px;
}

header li > a  {
    text-decoration: none;
    color: inherit;
}

header li > a:hover {
    color: blue;
}

.now {
    border-bottom: 4px solid blue;
}

section {
    position: absolute;
	top: 30%;
	right: 15%;
	bottom: 25%;
	left: 15%;
    margin: auto;
    max-width: 600px;
}

section p {
    font-family: inherit;
    color: white;
    font-size: 18px;
    text-align: center;
    margin: auto;
}

section img {
    width: auto;
    display: block;
    margin:auto;
}
